<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <MSDeployServiceURL>site10832.siteasp.net</MSDeployServiceURL>
        <DeployIisAppPath>site10832</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>site10832</UserName>
        <Password>eM=8_2Zi5Qy#</Password>
        <DestinationAppUrl>http://ecom.runasp.net/</DestinationAppUrl>
        <_SavePWD>False</_SavePWD>
        <SelfContained>false</SelfContained>
        <_IsPortable>true</_IsPortable>
    </PropertyGroup>
</Project>
