@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <h3>@TempData["Success"]</h3>
    </div>
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <h3>@TempData["Error"]</h3>
    </div>
}